{{outlet}}
<div class="jumbotron" style="background: #0F9D58; color: #fff; padding-top: 20px; padding-bottom: 20px">
  <h3 class="text-center bold">Student Information Database</h3>
</div>
<div class="container">
  <div class="offset-md-3 col-md-6">
    <div class="card border-success mb-3">
      <div class="card-header"><h4>Add New Student</h4></div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label>Name</label>
            <input class="form-control" placeholder="Name">
          </div>
          <div class="form-group">
            <label>Address</label>
            <textarea class="form-control" placeholder="Student Address"></textarea>
          </div>
          <div class="form-group">
            <label>Date of Birth (dd/mm/yyyy)</label>
            <input class="form-control" placeholder="Date of Birth">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>